# Include your project-specific ignores in this file

# Lisp file
#/*.lsp
qr-flange.lsp
qr-library.lsp
qr-load-com copy.lsp
qr-network.lsp
qr-system.lsp
Untitled-1.lsp

# container
*.vlx

# png file
*.png
*.gif
*.jpg

*.bak

# Build : prv and fas file
/compile/